<app-hijo (Emitir1)="Objeto($event)" (Emitir2)="Objeto2($event)"></app-hijo>

<div class="objeto">

  
  
  
  <h2>Datos del objeto Persona</h2>
  <p><b>Nombre: </b>{{ personaPadre.nombre }}</p>
  <p><b>Apellidos: </b>{{ personaPadre.apellidos }}</p>
  <p><b>Edad:</b>{{ personaPadre.edad }}</p>
  <p><b>Sexo:</b>{{ personaPadre.sexo }}</p>
  <p><b>Estado:</b>{{ personaPadre.estado }}</p>
  <h2>{{personaPadre.mensaje}}</h2>

</div>
<hr>

<div class="objeto">
  <h2>Datos del objeto Mascota</h2>
  <p><b>Nombre: </b>{{ mascotaAnimal.Nombre }}</p>
  <p><b>Edad: </b>{{ mascotaAnimal.Edad }}</p>
  <p><b>Raza: </b>{{ mascotaAnimal.Raza }}</p>
  <p><b>Color: </b>{{ mascotaAnimal.Color }}</p>
  <h2>{{mascotaAnimal.Mensaje}}</h2>
  
</div>

